<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <title>@System.Web.HttpContext.Current.Application["Brand"] - @ViewBag.Title</title>
    <link href="@Url.Content("~/Content/styles/styles.css")" rel="stylesheet" type="text/css" />
    <link href="@Url.Content("~/Content/styles/gridmvc.css")" rel="stylesheet" type="text/css" />
    <link rel="shortcut icon" href="~/Content/favicon.ico" />

    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
</head>
<body role="document">

    <div id="ds-wrap">
        @Html.Action("Menu", "Shared", true)

        @Html.Partial("_Dialogs")

        @RenderBody()
        <div id="ds-footerpush"></div>
    </div>

    <div id="ds-footer">
        <p>
            Last Page Refresh: @DateTime.UtcNow<br />
            Version @typeof(DoctrineShips.Web.MvcApplication).Assembly.GetName().Version - Copyright © @DateTime.UtcNow.Year @System.Web.HttpContext.Current.Application["Brand"]
        </p>
    </div>

    <script src="@Url.Content("~/Scripts/doctrineships.js")" type="text/javascript"> </script>
    <script src="@Url.Content("~/Scripts/jquery-1.11.0.min.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Scripts/gridmvc.min.js")" type="text/javascript"> </script>
    <script src="@Url.Content("~/Scripts/bootstrap.min.js")" type="text/javascript"> </script>
</body>
</html>
