@using DoctrineShips.Web.ViewModels
@using DoctrineShips.Entities

@model AccountSubscriptionViewModel

@{
    ViewBag.Title = "Doctrine Ships - Account Subscription";
}

<div id="ds-main" role="main">
    <div id="ds-header">
        <h1>
            Account Subscription<br />
            <small>Subscription details for the account.</small>
        </h1>
    </div>

    @if (Model != null)
    {
        <div class="ds-table">
            <table>
                <tr>
                    <th>Account Id</th>
                    <td>@Model.Account.AccountId</td>
                </tr>
                <tr>
                    <th>Subscription Plan</th>
                    <td>@Model.Account.SubscriptionPlan.Name</td>
                </tr>
                <tr>
                    <th>Price Per Month</th>
                    <td>@String.Format("{0:N2} ISK", Model.Account.SubscriptionPlan.PricePerMonth)</td>
                </tr>
                <tr>
                    <th>Account Balance</th>
                    <td>@String.Format("{0:N2} ISK", Model.Account.Balance)</td>
                </tr>
                <tr>
                    <th>Last Credit</th>
                    <td>@Model.Account.LastCredit.ToString("dd MMM yyyy - HH:mm")</td>
                </tr>
                <tr>
                    <th>Last Debit</th>
                    <td>@Model.Account.LastDebit.ToString("dd MMM yyyy - HH:mm")</td>
                </tr>
                <tr>
                    <th>Next Payment Taken (30 Days)</th>
                    <td>@((Model.Account.LastDebit + TimeSpan.FromDays(30)).ToString("dd MMM yyyy"))</td>
                </tr>
                <tr>
                    <th>Sales Agent Licences</th>
                    <td>@Model.Account.SubscriptionPlan.SalesAgentLimit</td>
                </tr>
                <tr>
                    <th>Sales Agent Licences Remaining</th>
                    <td>@(Model.Account.SubscriptionPlan.SalesAgentLimit - Model.Account.SalesAgents.Count())</td>
                </tr>
            </table>
        </div>
        <br />
        <div class="ds-contentbox">
            <h3>Payment Instructions</h3>
            <br />
            <p>Follow the steps below <u>carefully</u>.</p>
            <br />
            <p>1. To top up your account balance, you will be sending the payment to the Doctrine Ships corporation in-game. Double check that it is the same corporation, the CEO should be Sarah Lopaz.</p>
            <img src="@Url.Content("~/Content/images/misc/payment1.png")" />
            <p>2. Right click the white lines in the top left-hand corner of the show info dialog box and select 'Give Money' from the menu.</p>
            <img src="@Url.Content("~/Content/images/misc/payment2.png")" />
            <p>3. Important: Enter your account id number (listed in the subscription details above) with a prefix of 'DS' as the payment 'Reason'. As with the ship fit contracts, the DS prefix helps to differentiate your payment from other wallet entries that may contain numbers.</p>
            <img src="@Url.Content("~/Content/images/misc/payment3.png")" />
            <p>4. The payment will be picked up from the API within 1 hour and your balance will be updated.</p>
        </div>
    }
    else
    {
        <div id="ds-message">
            <b>No Subscription Details Found</b>
        </div>
    }
</div>
